.create-post-btn-container {
  text-align: center;
  margin-top: 10rem;
}

.modal-header h1.modal-title {
  font-size: 1.5rem;
}

.modal-body {
  padding: 1rem;
}

.form-label {
  font-weight: bold;
}

.modal-footer button {
  margin-right: 5px;
}

.user-data {
  font-size: 1rem;
  font-weight: bold;
}

.post-title {
  font-size: 1.2rem;
}

.post-body {
  margin-top: 10px;
}

.tag-badge {
  background: blueviolet;
  margin-left: 4px;
}

.edit-link,
.delete-link {
  cursor: pointer;
}

@media (max-width: 768px) {
  .gedf-main {
    max-width: 100%;
  }
}

.no-posts-message {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 0.25rem;
  color: #721c24;
}

.aligment {
  display: flex;
  justify-content: center;
}