<header class="header" id="header">
  <nav class="nav container">
    <a class="nav__logo" routerLink="/books">Post List</a>

    <div class="nav__menu" id="nav-menu" [ngClass]="{'open': isMenuOpen}">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
      </ul>
      <!-- Close button -->
      <div class="nav__close" id="nav-close" (click)="toggleMenu()">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>

    <div class="nav__actions">
      <a class="nav-link" (click)="logout()">
        <i class="fa-solid fa-right-from-bracket"></i>
      </a>
      <div class="nav__toggle" id="nav-toggle" (click)="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
  </nav>
</header>